@primary-color: #3366ff;

@component-background: lighten(#f0f2f5, 10%);

@border-radius-base: 10px;
@border-radius-sm: 8px;

@layout-header-background: #f0f2f5;
@layout-body-background: #f0f2f5;
@layout-footer-background: #f0f2f5;

@card-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
